[submodule "nerdtree"]
	path = nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim-indent-guides"]
	path = vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim-polyglot"]
	path = vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "supertab"]
	path = supertab
	url = https://github.com/ervandew/supertab.git
