[submodule ".vim/pack/myplugin/start/delimitMate"]
	path = .vim/pack/myplugin/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule ".vim/pack/myplugin/start/nerdtree"]
	path = .vim/pack/myplugin/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/myplugin/start/vim-indent-guides"]
	path = .vim/pack/myplugin/start/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule ".vim/pack/myplugin/start/vim-polyglot"]
	path = .vim/pack/myplugin/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule ".vim/pack/myplugin/start/supertab"]
	path = .vim/pack/myplugin/start/supertab
	url = https://github.com/ervandew/supertab.git
